source_up
set -e
DIR=`pwd`

PATH_add $DIR/../../.direnv/bin

cd $DIR
if [ -f '.env' ]; then
dotenv
fi

init() {
  if [ ! -d $DIR/$1/node_modules ]; then
    if ! [ -x "$(command -v pnpm)" ]; then
      npm install -g pnpm
    fi
    cd $DIR/$1
    pnpm i
    cd $DIR
  fi
}

init .
env_sh() {
  cd $DIR/../../../../conf/conn
  local i
  for i in $@; do
    set -o allexport
    source "$i".sh
    set +o allexport
  done

  cd $DIR
  unset -f env_sh
}

env_sh kv redis ak redis_li
