source_up

env_sh() {
  cd $DIR/../../../../conf/conn
  local i
  for i in $@; do
    set -o allexport
    source "$i".sh
    set +o allexport
  done

  cd $DIR
  unset -f env_sh
}

env_sh db_host pg apg
