source_up

env_sh() {
  local pwd=$(pwd)
  cd ../../../../conf/conn
  local i
  for i in $@; do
    set -o allexport
    source "$i".sh
    set +o allexport
  done

  cd $pwd
  unset -f env_sh
}


env_sh qdrant
